/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/lato-v23-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-regular - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato';
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.header__wrapper {
    display: flex;
    padding-left: 64px;
}
.header__wrapper-banner {
    display: flex;
    flex-direction: column;
}
.header__logo {
    width: 42px;
    height: 44px;
    left: 64px;
    top: 42px;
    margin-top: 42px;
}
.header__text {
    padding-top: 32px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.header__buttons {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    
}

.registration, .login {
    width: 260px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #0057FF;
    margin-top: 16px;
}
.registration {
    background: #0057FF;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}
.login {
    font-weight: 400;
    font-size: 18px;
    color: #0057FF;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .header__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        
    }
    .header__wrapper-banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__logo {
        margin-top: 24px;
    }
    .header__text {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        
        padding-top: 22px;
    }
    .header__buttons {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .header__foto-pic {
        width: 100%;
        height: max-content;
    }
}
